<div class="koki-data-wrapper">
  <div class="koki-data-header-container">
    <p class="koki-data-header">Update Password</p>
    <div class="koki-data margin20">
      <form>
        <mat-form-field>
          <input matInput placeholder="New Password" type="password" name="password" [(ngModel)]="newPassword" />
        </mat-form-field>
        <!--<mat-form-field>-->
          <!--<input matInput placeholder="Confirm Password" type="password" name="password" [(ngModel)]="user.confirmPassword" />-->
        <!--</mat-form-field>-->
      </form>
      <div fxLayout="row" fxLayoutAlign="end center" fxLayoutGap="20px" class="marginTop20">
        <button mat-button (click)="dialogRef.close(false)">Close</button>
        <button mat-raised-button color="primary" (click)="dialogRef.close(newPassword)">Update</button>
      </div>
    </div>
  </div>
</div>
