@import "../../../styles/variables";
.overviewWrapper{
  display: block;
  overflow: hidden;

  .overviewContainer{
    display: inline-block;
    width: calc(33.33% - 2px);
    border-right: 1px solid #f0f2f4;
    border-bottom: 1px solid #f0f2f4;
    border-top: 0;
    padding: 20px;
    box-sizing: border-box;

    &:first-of-type{
      border-left: 0;
    }
    &:last-of-type{
      border-right: 0;
    }
  }
  .kokiHeader{
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;

    text-align: left;
    font-size: 18px;
    margin: 0;
    color: #C0BBB7;

  }

  .content{
    margin: 0;
    font-size: 35px;
    color: #666;
  }
}


.tableContainer {
  height: 60px;
  font-size: 15px;

  &.header{
    font-family: RobotoNormal, sans-serif;
    background-color: #fcfdfe;
    padding: 0 10px;
  }



  .tableRow{
    padding: 0 10px;
    background-color: white;
    border-bottom: 1px solid #efefef;
    &:nth-child(even){
      //background-color: #efefef;
    }
  }


}

.tableBodyWrapper {
  height: 195px;
  overflow: auto;
}

.searchIcon {
  position: absolute;
  right: -2px;
  top: 7px;
}

.tokenContainer {
  font-family: robotoLight;
  font-size: 20px;
  color: #666;
  display: inline-block;
  width: auto;
  box-shadow: 2px 3px 10px 0px #b7b7b7;
  margin: 0 15px;
  padding: 20px;
}

@media screen and (max-width: 768px) {
  .overviewWrapper{
    display: block;
    overflow: hidden;

    .overviewContainer {
      display: block;
      width: 100%;
      border-right: 1px solid #f0f2f4;
      border-bottom: 1px solid #f0f2f4;
      border-top: 0;
      padding: 20px;
      box-sizing: border-box;

    }
  }
}
