<div fxLayout="column" fxFlexFill fxLayoutGap="10px">
  <section fxLayout="row" fxFlex="50" fxLayoutGap="10px">
    <mat-card fxFlex="60">
      <mat-card-header>
        <mat-card-title>
          Cluster Overview
        </mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <section class="overviewWrapper">
          <div class="overviewContainer">
            <p class="kokiHeader">Total Apps</p>
            <p class="content" [innerHTML]="dashboard_overview?.spec?.totalApps"></p>
          </div>
          <div class="overviewContainer">
            <p class="kokiHeader">Total Incidents</p>
            <p class="content" [innerHTML]="dashboard_overview?.spec?.totalIncidents"></p>
          </div>
          <div class="overviewContainer">
            <p class="kokiHeader">Avg. Recovery Time(Min)</p>
            <p class="content">
              {{dashboard_overview?.spec.averageRecoveryTime}}
              <i class="material-icons" *ngIf="dashboard_overview?.spec?.averageRecoveryTimeDelta > 0">arrow_upward</i>
              <i class="material-icons" *ngIf="dashboard_overview?.spec?.averageRecoveryTimeDelta < 0">arrow_downward</i>
            </p>
          </div>
          <div class="overviewContainer">
            <p class="kokiHeader">Avg. Changes/Week</p>
            <p class="content">
              {{dashboard_overview?.spec.averageChangesPerWeek}}
              <i class="material-icons" *ngIf="dashboard_overview?.spec?.averageChangesPerWeekDelta > 0">arrow_upward</i>
              <i class="material-icons" *ngIf="dashboard_overview?.spec?.averageChangesPerWeekDelta < 0">arrow_downward</i>
            </p>
          </div>
        </section>
      </mat-card-content>
    </mat-card>

    <mat-card fxFlex="40">
      <mat-card-header>
        <mat-card-title>
          Overall Cluster Health
        </mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <div style="width: 70%;margin: 0 auto">
          <app-health-guage [healthPer]="dashboard_overview?.spec.overallHealthPercentage"></app-health-guage>
        </div>
      </mat-card-content>
    </mat-card>
  </section>
  <mat-card fxFlex="50">
    <mat-card-header>
      <mat-card-title>
        My Application
      </mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <section class="tableWrapper">
        <div class="tableContainer header" fxLayout="row" fxLayoutAlign="space-between center">
          <p class="tableContent" fxFlex="15">App</p>
          <p class="tableContent" fxFlex="15">Namespace</p>
          <p class="tableContent" fxFlex="20">Last Updated Time</p>
          <p class="tableContent" fxFlex="20">Last Incident</p>
          <p class="tableContent" fxFlex="15">Health Check</p>
          <p class="tableContent" fxFlex="10">Auto Recovery</p>
        </div>
        <div class="tableBodyWrapper">
          <div class="tableContainer body">
            <ng-container *ngFor="let application of applications">
              <div  fxLayout="row" fxLayoutAlign="space-between" class="tableRow">
                <p class="tableContent capitalize" fxFlex="15">{{application.metadata.name}}</p>
                <p class="tableContent" fxFlex="15">{{application.metadata.namespace}}</p>
                <p class="tableContent" fxFlex="20">{{application.status.lastUpdate | date: 'EEE, dd MMM yyyy hh:mm a'}}</p>
                <p class="tableContent" fxFlex="20">{{application.status.lastIncident | date: 'EEE, dd MMM yyyy hh:mm a'}}</p>
                <p class="tableContent" fxFlex="15"><app-area-chart [applicationname]= "application.metadata.name"></app-area-chart></p>
                <p class="tableContent" fxFlex="10"><mat-checkbox color="primary" [checked]="application.spec.autoRecovery"></mat-checkbox></p>
              </div>
            </ng-container>
          </div>
        </div>
      </section>
    </mat-card-content>
  </mat-card>
</div>
