<section fxLayout="column" fxLayoutGap="10px">
  <section class="koki-data-wrapper">
    <div class="koki-data-container">
      <div class="koki-data-header-container">
        <p class="koki-data-header"><i class="material-icons">donut_large</i>Cluster Overview</p>
      </div>
      <section class="overviewWrapper">
        <div class="overviewContainer">
          <p class="kokiHeader">Total Incidents</p>
          <p class="content" [innerHTML]="dashboard_overview?.spec?.totalIncidents"></p>
        </div>
        <div class="overviewContainer">
          <p class="kokiHeader">Avg. Recovery Time(Min)</p>
          <p class="content">
            {{dashboard_overview?.spec?.averageRecoveryTime}}
            <i class="material-icons primaryColorGreen" *ngIf="dashboard_overview?.spec?.averageRecoveryTimeDelta > 0">arrow_upward</i>
            <i class="material-icons colorLightRed" *ngIf="dashboard_overview?.spec?.averageRecoveryTimeDelta < 0">arrow_downward</i>
          </p>
        </div>
        <div class="overviewContainer">
          <p class="kokiHeader">Avg. Changes/Week</p>
          <p class="content">
            {{dashboard_overview?.spec?.averageChangesPerWeek}}
            <i class="material-icons primaryColorGreen" *ngIf="dashboard_overview?.spec?.averageChangesPerWeekDelta > 0">arrow_upward</i>
            <i class="material-icons colorLightRed" *ngIf="dashboard_overview?.spec?.averageChangesPerWeekDelta < 0">arrow_downward</i>
          </p>
        </div>
      </section>

    </div>
    <div class="koki-data-container" style="background-color: #fcfdfe">
      <div class="koki-data">
        <app-dashboard-chart [applicationname]= "'redis'" style="height: 300px;"></app-dashboard-chart>
      </div>
    </div>
  </section>

  <section class="koki-data-wrapper">
    <div class="koki-data-container">
      <div class="koki-data-header-container">
          <p class="koki-data-header" ><i class="material-icons">dns</i>{{(applications.length > 1)? 'Applications ' : 'Application ' }}({{applications.length || 0}})</p>
      </div>
    </div>
    <div>
      <div class="koki-data" fxLayout="row" fxLayoutAlign="end center">
      <mat-form-field [class.app-input-no-underline]="!showUnderline" [ngClass]="{'width100': isMobile}">
        <input matInput placeholder="Search Application" name="textSearch" [(ngModel)]="search" />
        <div class="searchIcon"><i class="material-icons">search</i></div>
      </mat-form-field>
      </div>
      <section class="tableWrapper" *ngIf="!isMobile">
        <div class="tableContainer header" fxLayout="row" fxLayoutAlign="space-between center">
          <p class="tableContent" fxFlex="15">App</p>
          <p class="tableContent" fxFlex="15">Namespace</p>
          <p class="tableContent" fxFlex="20">Last Updated Time</p>
          <p class="tableContent" fxFlex="20">Last Incident</p>
          <p class="tableContent" fxFlex="15">Health Check</p>
          <p class="tableContent" fxFlex="10">Auto Recovery</p>
        </div>
        <div class="tableBodyWrapper">
          <div class="tableContainer body">
            <ng-container *ngFor="let application of applications | textSearch: 'name': search">
              <div  fxLayout="row" fxLayoutAlign="space-between" class="pointer tableRow" routerLink="{{'../application/'+application.metadata.name}}">
                <p class="tableContent boldFont capitalize primaryColor" fxFlex="15">{{application.metadata.name}}</p>
                <p class="tableContent" fxFlex="15">{{application.metadata.namespace}}</p>
                <p class="tableContent" fxFlex="20">{{application.status.lastUpdate | date: 'EEE, dd MMM yyyy hh:mm a'}}</p>
                <p class="tableContent" fxFlex="20">{{application.status.lastIncident | date: 'EEE, dd MMM yyyy hh:mm a'}}</p>
                <p class="tableContent" fxFlex="15"><app-area-chart [applicationname]= "application.metadata.name"></app-area-chart></p>
                <p class="tableContent" fxFlex="10"><mat-checkbox color="primary" [checked]="application.spec.autoRecovery"></mat-checkbox></p>
              </div>
            </ng-container>
          </div>
        </div>
      </section>
      <section *ngIf="isMobile">
        <div class="tokenContainer" *ngFor="let application of applications | textSearch: 'name': search">
          {{application.metadata.name}}
        </div>
      </section>
    </div>
  </section>
</section>

