@import "../../../styles/variables";
.overviewWrapper{
  display: block;
  overflow: hidden;

.overviewContainer{
  display: inline-block;
  width: calc(50% - 20px);
  text-align: center;
  background-color: whitesmoke;
  margin: 10px;
  height: 105px;
  box-shadow: 1px 1px 1px 1px #efefef;
}
.kokiHeader{
  width: 90%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;

  text-align: left;
  font-size: 18px;
  margin: 10px;
  color: $koki-color-primary-light;

}
.content{
  margin: 0;
  font-size: 30px;
  color: #333;
}
}


.tableContainer {
  height: 60px;
  font-size: 15px;

&.header{
   font-weight: bold;
   background-color: #f5f5f5;
   padding: 0 10px;
 }



.tableRow{
  padding: 0 10px;
  background-color: white;
&:nth-child(even){
   background-color: #efefef;
 }
}


}

.tableBodyWrapper {
  height: 195px;
  overflow: auto;
}
