@import "../../../styles/variables";

.menuHamburger {
  position: absolute;
  right: -9px;
  top: 20px;
  z-index: 1;
  transition: all 0.8s ease;


  &.hideSideMenu{
    transform: rotate(180deg);
  }
}
#sidebarWrapper{
  transition: all 0.5s ease;
}


/deep/ .mat-mini-fab.mat-primary {
  background-color: white;
  color: $koki-color-primary-dark;


  .material-icons{
    color: $koki-color-primary-dark;
  }
}

ul.breadcrumb {
  list-style: none;
  font-size: 14px;
  color: #f8f8f8;
  padding: 0;

  li {
    display: inline-block;
  }
}

/deep/ .mat-drawer {
  width: 300px
}

/deep/ .mat-drawer-container{
  background-color: transparent;
}
