<section style="height: 100vh;">
  <section fxLayout="row" fxLayoutAlign="center center" fxFlexFill>
    <section id="sidebarWrapper" class="positionRelative" [fxFlex]="menuWidth" fxFlexFill>
      <button mat-mini-fab color="primary" class="menuHamburger" (click)="toggleMenu()">
        <i class="material-icons" style="color: white;margin:0">arrow_back</i>
      </button>
      <app-sidebaar></app-sidebaar>

    </section>
    <section fxFlex fxFlexFill style="padding: 10px;overflow: auto">
      <router-outlet></router-outlet>
    </section>
  </section>
</section>
