/* You can add global material styles to this file, and also import other style files */
@import "variables";

.mat-list-item-content{
  font-size: 16px;
  font-family: RobotoThin, sans-serif;
}

.mat-nav-list .mat-list-item{
  height: 50px !important;
  color: white;
}

.mat-input-container.app-input-no-underline .mat-input-underline {
  display: none;
}

 .mat-raised-button.mat-primary, .mat-fab.mat-primary, .mat-mini-fab.mat-primary {
  color: white;
}
