/* You can add global styles to this file, and also import other style files */

@import "./variables";

body, html {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  font-size: 14px;
}

pre code {
  font-size: 16px;
}

.koki-component-header-container {
  margin-bottom: 20px;
}

// file upload button cursor issue for webkit based browser
::-webkit-file-upload-button {
  cursor:pointer;
}

.mat-dialog-container{
  border-radius: 10px !important;
}
.categoryPill{
  background-color: #efefef;
  color: black;
  text-transform: capitalize;
  display: inline-block;
  padding: 2px 10px;
  border-radius: 10px;
  margin-right: 15px;
  font-family: RobotoRegular, sans-serif;
  max-width: 100%;
}

.categoryPill.pillPadding {
  padding: 2px 20px;
}

.datePill {
  color: $koki-color-text-bold-dark;

  text-transform: uppercase;
  display: inline-block;
  padding: 5px 12px;
  border-radius: 10px;
  font-family: RobotoRegular, sans-serif;

}

.datePill.redPill {
  color: #fff;

  background-color: $koki-color-primary-dark;
}

.datePill.greenPill {
  color: #fff;

  background-color: $koki-color-accent-dark;
}

.pills {
  font-family: RobotoRegular, sans-serif;
  color: black;
  background-color: #efefef;
  text-transform: capitalize;
  display: inline-block;
  padding: 5px 10px;
  border-radius: 10px;
  margin-right: 15px;
}


.flexLayoutFix:last-child {
  margin-right: 20px;
}

.flexLayoutMargin {
  margin-bottom: 20px;
}


.documentWidthFix {
  max-width: calc(33% - 20px);
}

.koki-portfolio-summary-header{
  position: fixed;
  width: 100%;
  background-color: white;
  z-index: 1;
}

#dicd-add-project .md2-autocomplete-trigger{
  border-bottom: 1px solid rgba(0, 0, 0, 0.42);
}

body{-ms-overflow-style: scrollbar !important;}

// spinner styles
.loader-background {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1200;

  .loader-position {
    position: relative;
    left: calc(50% - 50px);
    top: calc(50% - 50px);
  }
}



// mapping styles
#KOKIDataWrapper {
  background-color: $koki-grey-background-color;

  .koki-data-header {
    height: 60px;
    background-color: #fff;
    padding: 0 12px;

    position: fixed;
    width: calc(100% - 70px);
    top: 54px;
    z-index: 50;

    .koki-new-portfolio-header-text {
      line-height: 60px;
    }
  }

  .koki-data-body {
    height: calc(100vh - 115px);
    //padding: 40px;
    margin-top: 60px;

    .koki-side-section-layout {
      height: 100%;
    }

    .wrapper {
      height: 100%;
    }
    .data-list-container {
      height: 100%;
      background: white;
      position: relative;

      .list-wrapper{
        height: calc(100% - 88px);
        overflow: auto;
      }

      .list-container {
        height: 130px;
        padding:0 20px;

        &.active {
          cursor: default;
          background-color: #efefef;
          border-left: 10px solid #c0c0c0
        }
      }

      .bottomFixedButton{
        position: absolute;
        width: 100%;
        bottom: 0;
        padding: 20px;
        border-top: 1px solid #e5e5e5
      }
    }

    .data-details-container {
      height: calc(100% - 60px);
      background-color: white;
      margin: 30px;
      border-radius: 10px;
      overflow: auto;


      .listHeader{
        font-family: RobotoBold, sans-serif;
        font-size: 25px;
        border-bottom: 1px solid #e5e5e5;
        padding: 10px 20px;
      }

      .details-container{
        height: 130px;
        padding:0 20px;
      }
    }

    .servicesRow:nth-child(2n+1) {
      background-color: #F9F9F9;
    }

    .headerPadding {
      padding: 20px 40px;
    }

    .koki-new-portfolio-section {
      background-color: #fff;
      border-radius: 15px;
      //margin-bottom: 40px;

      &.paddingSection {
        padding: 40px;
      }

    }
  }

}

.height150 {
  height: 150px;
}

// UaaS custom styles
//Custom Multiselect styles in Courses add page.
.custom-course-multiselect{
  mat-form-field{
    margin-top: 25px;
    .mat-input-wrapper{ width: 88%;}
  }
}
//Custom text-area styles.
.custom-textarea{
  padding: 10px 15px;
  outline: 0;
  max-width: 100%;
  border-width: 1.5px;
  border-radius: 10px;
}
.cursor-pointer{
  cursor: pointer;
}
.eventNull{
  pointer-events: none;
}
// To disble the hover color for the custom mat-tab
.custom-request-tab, .custom-action-tab{
  .mat-button-focus-overlay{ background-color: transparent;}
}



// added by rhythm 31 May 1437 inflight dicd

.inputPageNumberContainer{
  // border: 1px solid lightgray;
  border-radius: 4px;
  height: 34px;


  .wrongInput{
    margin-left: 10px;
    width: 28px;
    height: 30px;
    border-radius: 6px;
    border: 1px solid $koki-color-red-dark;
    background: $koki-table-header-color;
    color: $koki-color-text-bold-light
  }

  .rightInput{
    margin-left: 10px;
    width: 28px;
    height: 30px;
    border-radius: 6px;
    border: 1px solid $koki-color-text-normal-light;
    background: $koki-table-header-color;
    color: $koki-color-text-bold-light
  }

}

/* GRADIENTS */
.gradient-red {
  background: #ff5e3a; /* Old browsers */
  background-image: linear-gradient(#ff5e3a, #ff2a68);
  background: -moz-linear-gradient(top,  #ff5e3a 0%, #ff2a68 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ff5e3a), color-stop(100%,#ff2a68)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top,  #ff5e3a 0%,#ff2a68 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top,  #ff5e3a 0%,#ff2a68 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top,  #ff5e3a 0%,#ff2a68 100%); /* IE10+ */
  background: linear-gradient(to bottom,  #ff5e3a 0%,#ff2a68 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff5e3a', endColorstr='#ff2a68',GradientType=0 ); /* IE6-9 */
}

.gradient-orange {
  background: #ff9500; /* Old browsers */
  background-image: linear-gradient(#ff9500, #ff5e3a);
  background: -moz-linear-gradient(top,  #ff9500 0%, #ff5e3a 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ff9500), color-stop(100%,#ff5e3a)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top,  #ff9500 0%,#ff5e3a 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top,  #ff9500 0%,#ff5e3a 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top,  #ff9500 0%,#ff5e3a 100%); /* IE10+ */
  background: linear-gradient(to bottom,  #ff9500 0%,#ff5e3a 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff9500', endColorstr='#ff5e3a',GradientType=0 ); /* IE6-9 */
}
.gradient-yellow {
  background: #ffdb4c; /* Old browsers */
  background-image: linear-gradient(#ffdb4c, #ffcd02);
  background: -moz-linear-gradient(top,  #ffdb4c 0%, #ffcd02 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffdb4c), color-stop(100%,#ffcd02)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top,  #ffdb4c 0%,#ffcd02 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top,  #ffdb4c 0%,#ffcd02 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top,  #ffdb4c 0%,#ffcd02 100%); /* IE10+ */
  background: linear-gradient(to bottom,  #ffdb4c 0%,#ffcd02 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffdb4c', endColorstr='#ffcd02',GradientType=0 ); /* IE6-9 */
}
.gradient-green {
  background: #87fc70; /* Old browsers */
  background-image: linear-gradient(#87fc70, #0bd318);
  background: -moz-linear-gradient(top,  #87fc70 0%, #0bd318 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#87fc70), color-stop(100%,#0bd318)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top,  #87fc70 0%,#0bd318 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top,  #87fc70 0%,#0bd318 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top,  #87fc70 0%,#0bd318 100%); /* IE10+ */
  background: linear-gradient(to bottom,  #87fc70 0%,#0bd318 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#87fc70', endColorstr='#0bd318',GradientType=0 ); /* IE6-9 */
}
.gradient-teal {
  background: #52edc7; /* Old browsers */
  background-image: linear-gradient(#52edc7, #5ac8fb);
  background: -moz-linear-gradient(top,  #52edc7 0%, #5ac8fb 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#52edc7), color-stop(100%,#5ac8fb)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top,  #52edc7 0%,#5ac8fb 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top,  #52edc7 0%,#5ac8fb 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top,  #52edc7 0%,#5ac8fb 100%); /* IE10+ */
  background: linear-gradient(to bottom,  #52edc7 0%,#5ac8fb 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#52edc7', endColorstr='#5ac8fb',GradientType=0 ); /* IE6-9 */
}
.gradient-blue {
  background: #1ad6fd; /* Old browsers */
  background-image: linear-gradient(#1ad6fd, #1d62f0);
  background: -moz-linear-gradient(top,  #1ad6fd 0%, #1d62f0 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#1ad6fd), color-stop(100%,#1d62f0)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top,  #1ad6fd 0%,#1d62f0 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top,  #1ad6fd 0%,#1d62f0 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top,  #1ad6fd 0%,#1d62f0 100%); /* IE10+ */
  background: linear-gradient(to bottom,  #1ad6fd 0%,#1d62f0 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1ad6fd', endColorstr='#1d62f0',GradientType=0 ); /* IE6-9 */
}
.gradient-violet {
  background: #c644fc; /* Old browsers */
  background-image: linear-gradient(#c644fc, #5856d6);
  background: -moz-linear-gradient(top,  #c644fc 0%, #5856d6 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#c644fc), color-stop(100%,#5856d6)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top,  #c644fc 0%,#5856d6 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top,  #c644fc 0%,#5856d6 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top,  #c644fc 0%,#5856d6 100%); /* IE10+ */
  background: linear-gradient(to bottom,  #c644fc 0%,#5856d6 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#c644fc', endColorstr='#5856d6',GradientType=0 ); /* IE6-9 */
}
.gradient-magenta {
  background: #ef4db6; /* Old browsers */
  background-image: linear-gradient(#ef4db6, #c643fc);
  background: -moz-linear-gradient(top,  #ef4db6 0%, #c643fc 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ef4db6), color-stop(100%,#c643fc)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top,  #ef4db6 0%,#c643fc 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top,  #ef4db6 0%,#c643fc 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top,  #ef4db6 0%,#c643fc 100%); /* IE10+ */
  background: linear-gradient(to bottom,  #ef4db6 0%,#c643fc 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ef4db6', endColorstr='#c643fc',GradientType=0 ); /* IE6-9 */
}
.gradient-black {
  background: #4a4a4a; /* Old browsers */
  background-image: linear-gradient(#4a4a4a, #2b2b2b);
  background: -moz-linear-gradient(top,  #4a4a4a 0%, #2b2b2b 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#4a4a4a), color-stop(100%,#2b2b2b)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top,  #4a4a4a 0%,#2b2b2b 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top,  #4a4a4a 0%,#2b2b2b 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top,  #4a4a4a 0%,#2b2b2b 100%); /* IE10+ */
  background: linear-gradient(to bottom,  #4a4a4a 0%,#2b2b2b 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4a4a4a', endColorstr='#2b2b2b',GradientType=0 ); /* IE6-9 */
}
.gradient-silver {
  background: #dbddde; /* Old browsers */
  background-image: linear-gradient(#dbddde, #898c90);
  background: -moz-linear-gradient(top,  #dbddde 0%, #898c90 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#dbddde), color-stop(100%,#898c90)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top,  #dbddde 0%,#898c90 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top,  #dbddde 0%,#898c90 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top,  #dbddde 0%,#898c90 100%); /* IE10+ */
  background: linear-gradient(to bottom,  #dbddde 0%,#898c90 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4a4a4a', endColorstr='#898c90',GradientType=0 ); /* IE6-9 */
}

/* SWATCHES */
.swatch-red { background-color: #ff3b30; }
.swatch-orange { background-color: #ff9500; }
.swatch-yellow { background-color: #fc0; }
.swatch-green { background-color: #4cd964; }
.swatch-teal { background-color: #34aadc; }
.swatch-blue { background-color: #007aff; }
.swatch-violet { background-color: #5856d6; }
.swatch-pink { background-color: #ff2d55; }
.swatch-mid-gray { background-color: #8e8e93; }
.swatch-gray { background-color: #c7c7cc; }

.text-shadow{text-shadow: 0 2px 0px rgba(0, 0, 0, 0.05), 0 5px 9px rgba(0, 0, 0, 0.1), 0 9px 29px rgba(0, 0, 0, 0.1)}
