/* You can add global variables to this file, and also import other style files */

// ******* basic color variables ******* //
// --primary--
$koki-color-primary-dark: #26254F;
$koki-color-primary-light: #2d2c71;
// --accent--
$koki-color-accent-dark: #54ad45;
$koki-color-accent-light: #76ff63;


// --other colors--
$koki-color-yellow-light: #f8951d;
$koki-color-red-dark: #E51736;
$koki-color-light-gray: #EFEFEF;
$koki-progress-bar-color: #ebebec;

// -- table layout colors--
$koki-table-header-color: #f7f7f7;
$koki-table-cell-color: #f8f8f8;
$koki-table-header-text-color: #9faecb;

// --border colors--//
$koki-border-color-dark: #f0f0f0;
$koki-border-color-light: #f1f1f1;

// ******* text styles variables ******* //
// --application colors--
$koki-color-text-bold-dark: #1e2831;
$koki-color-text-bold-light: #787878;
$koki-color-text-normal-dark: #b4b4b4;
$koki-color-text-normal-light: #b4b4b4;
$koki-grey-background-color: #f1f1f1;
