aside{
  height: 100%;
  box-sizing: border-box;
  position: relative;
  overflow: hidden;

  &>mat-card{
    height: 100%;
    box-sizing: border-box;


  }

  .material-icons{
    margin-right: 10px;
  }

  /deep/ .mat-list-item-content span{
    transition: all ease 0.6s;
  }

  &.hideSideMenu{

    /deep/ .mat-list-item-content span, .companyName{
      display: none;
    }
  }

}
.mat-list-option:hover, .mat-list-option.mat-list-item-focus, .mat-nav-list .mat-list-item:hover, .mat-nav-list .mat-list-item.mat-list-item-focus, .active {
  background: rgba(255, 255, 255, 0.25);
  transition: all ease 0.5s;
  border-radius: 4px;

  /deep/ .mat-list-item-content {
    font-family: RobotoNormal, sans-serif;
  }
}

@media screen and (max-width: 768px) {

}
