<aside id="sideBarContainer">
  <mat-card>
    <form class="example-form">
      <section>
        <p class="marginZero marginTop30">Dashboard</p>
        <mat-nav-list *ngFor="let menuItem of dashboardMenu">
          <a mat-list-item routerLink="home" class="capitalize"> {{ menuItem.name }} </a>
        </mat-nav-list>
        <p class="marginZero marginTop30">Applications</p>
        <mat-form-field class="width100">
          <input matInput placeholder="Search Application" name="textSearch" value="Redis" [(ngModel)]="search" />
          <div class="searchIcon"><i class="material-icons">search</i></div>
        </mat-form-field>
        <mat-nav-list *ngFor="let application of applications | textSearch: 'name': search">
          <a mat-list-item routerLink="{{'application/'+application.metadata.name}}" class="capitalize"> {{ application.metadata.name }} </a>
        </mat-nav-list>
      </section>
    </form>
  </mat-card>
</aside>
