<aside id="sideBarContainer">
  <mat-card>
    <form class="example-form">
      <mat-form-field class="example-full-width">
        <input matInput placeholder="Search Application" value="Redis">
      </mat-form-field>
      <section>
        Applications
        <mat-nav-list *ngFor="let application of applications">
          <a mat-list-item routerLink="{{'application/'+application.metadata.name}}" class="capitalize"> {{ application.metadata.name }} </a>
        </mat-nav-list>
      </section>
    </form>
  </mat-card>
</aside>
