.appArchitectureImage{
  background: center center/contain no-repeat;
  height: 375px;
  width: 500px;
}

/deep/ .mat-dialog-container{
   padding: 0;
 }
 .addonTable {
  width: 500px;
  max-height: 375px;
  overflow: auto;
}

table {
  height: 100%;
  width: 100%;
}
.dataAggrigation{
  background-color: #efefef;
  padding: 10px;
  color: #666;

  p {
    margin: 0
  }
}

.material-icons {
  margin-right: 10px;
}
