.tableContainer {
  height: 60px;
  font-size: 14px;

  &.header{
    font-weight: bold;
    background-color: #fcfdfe;
    padding: 0 10px;
  }



  .tableRow{
    padding: 0 10px;
    background-color: white;
    &:nth-child(even){
      //background-color: #efefef;
    }
  }

}

.tableBodyWrapper {
  height: 160px;
  overflow: auto;
}

.info{
  p {
    margin: 10px 0;
  }
}

/deep/ .mat-card{
  padding: 21px;
}

.material-icons {
  margin-right: 10px;
}

.applicationInformation{

  p {
    flex-direction: row;
    box-sizing: border-box;
    display: flex;

    span:first-of-type {
      flex: 1 1 30%
    }
    span:last-of-type{
      flex: 1 1 70%
    }
  }

}
