<section style="height: calc(100vh - 160px);">
  <section fxLayout="column" fxLayoutGap="16px" fxFlexFill>
    <div fxFlex="60" fxFlexFill>
      <div fxLayout="row" fxLayoutGap="10px" fxFlexFill>
        <div fxFlex="60">
          <div fxLayout="column" fxLayoutGap="10px">
          <mat-card>
            <mat-card-header>
              <mat-card-title><i class="material-icons">favorite</i>Health</mat-card-title>
            </mat-card-header>
            <mat-card-content>
              <section fxLayout="row" fxLayoutAlign="space-between center" fxLayoutGap="10px">
                <div  fxFlex="25" *ngIf="healthDashboardData" style="height: 100px;" fxFlexAlign="center">
                  <app-health-guage [healthPer]="healthDashboardData?.spec?.overallHealthPercentage"></app-health-guage>
                </div>
                <div fxFlex="25" *ngIf="healthDashboardData" fxFlexAlign="center">
                  <app-pie-chart [chartDetails] = "healthDashboardData?.spec?.changeFailureTable"></app-pie-chart>
                </div>
                <div fxFlex="25" *ngIf="incidentChartData" fxFlexAlign="center">
                  <app-multi-line-chart [chartDetails] = "incidentChartData"></app-multi-line-chart>
                </div>
                <div fxFlex="25" *ngIf="mttrChartData" fxFlexAlign="center">
                  <app-multi-line-chart [chartDetails] = "mttrChartData"></app-multi-line-chart>
                </div>
              </section>
            </mat-card-content>
          </mat-card>
          <div fxLayout="column">
              <mat-card fxFlex="100">
                <mat-card-header>
                  <mat-card-title><i class="material-icons">settings_system_daydream</i>System Stats</mat-card-title>
                </mat-card-header>
                <mat-card-content>
                  <section fxLayout="row" fxLayoutAlign="space-between center" fxLayoutGap="20px">
                    <div fxFlex="30" *ngIf="systemStatsData.cpu" >
                      <app-multi-line-chart [chartDetails] = "systemStatsData.cpu" isSystemStats=true></app-multi-line-chart>
                      <p class="marginZero">CPU</p>
                    </div>
                    <div fxFlex="30" *ngIf="systemStatsData.memory">
                      <app-multi-line-chart [chartDetails] = "systemStatsData.memory" isSystemStats=true></app-multi-line-chart>
                      <p class="marginZero">Memory</p>

                    </div>
                    <div fxFlex="30" *ngIf="systemStatsData.storage">
                      <app-multi-line-chart [chartDetails] = "systemStatsData.storage" isSystemStats=true></app-multi-line-chart>
                      <p class="marginZero">Storage</p>

                    </div>
                  </section>
                </mat-card-content>
              </mat-card>
            <!--<div fxFlex="50">-->
              <!--<mat-card>-->
                <!--<mat-card-header>-->
                  <!--<mat-card-title><i class="material-icons">insert_chart</i>Custom Stats</mat-card-title>-->
                <!--</mat-card-header>-->
                <!--<mat-card-content>-->
                  <!--<section fxLayout="row" fxLayoutAlign="space-between center">-->
                    <!--<div fxFlex="33" *ngIf="mttrChartData">-->
                      <!--<app-multi-line-chart [chartDetails] = "mttrChartData"></app-multi-line-chart>-->
                    <!--</div>-->
                    <!--<div fxFlex="33" *ngIf="mttrChartData">-->
                      <!--<app-multi-line-chart [chartDetails] = "mttrChartData"></app-multi-line-chart>-->
                    <!--</div>-->
                    <!--<div fxFlex="33" *ngIf="mttrChartData">-->
                      <!--<app-multi-line-chart [chartDetails] = "mttrChartData"></app-multi-line-chart>-->
                    <!--</div>-->
                  <!--</section>-->
                <!--</mat-card-content>-->
              <!--</mat-card>-->
            <!--</div>-->
          </div>
          </div>
        </div>
        <div fxFlex="40" style="overflow: auto">
          <mat-card>
            <mat-card-header>
              <mat-card-title><i class="material-icons">info</i>Info</mat-card-title>
            </mat-card-header>
            <mat-card-content>
              <div>
                <form class="info">
                  <p>Name: {{activeApplicationData?.metadata.name}}</p>
                  <p>Auto Recovery: <mat-checkbox [checked]="activeApplicationData?.spec.autoRecovery" color="primary"></mat-checkbox></p>
                  <p>DNS Name: {{activeApplicationData?.status.dnsName}}</p>
                  <p>Load Balancer: {{activeApplicationData?.status.loadBalance}}</p>
                  <p>Version: {{activeApplicationData?.spec.version}}</p>
                  <p>Name Space: {{activeApplicationData?.metadata.namespace}}</p>
                </form>
                <hr style="width: 90%; margin: 20px auto; border-bottom-color: #efefef;"/>
                <section>
                  <mat-card-title><i class="material-icons">group</i><span class="text14">Team</span></mat-card-title>
                  <p>Team: {{activeApplicationData?.spec.team.teamName}}</p>
                  <p>Role: {{activeApplicationData?.spec.team.role}}</p>
                  <div fxLayout="row" fxLayoutGap="20px">
                    <p>Read: <mat-checkbox [checked]="activeApplicationData?.spec.team.readPermission" color="primary"></mat-checkbox></p>
                    <p>Write: <mat-checkbox [checked]="activeApplicationData?.spec.team.writePermission" color="primary"></mat-checkbox></p>
                    <p>Change Permission: <mat-checkbox [checked]="activeApplicationData?.spec.team.changePermission" color="primary"></mat-checkbox></p>
                  </div>
                </section>
              </div>
            </mat-card-content>
          </mat-card>
        </div>
      </div>

    </div>
    <div fxFlex="40" fxFlexFill>
      <mat-card style="height: 100%;">
        <mat-card-header>
          <mat-card-title><i class="material-icons">event_note</i>Events</mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <section class="tableWrapper">
            <div class="tableContainer header" fxLayout="row" fxLayoutAlign="space-between center">
              <p class="tableContent" fxFlex="15">Name</p>
              <p class="tableContent" fxFlex="10">Type</p>
              <p class="tableContent" fxFlex="20">TimeStamp</p>
              <p class="tableContent" fxFlex="15">Origin</p>
              <p class="tableContent" fxFlex="15">UUID</p>
              <p class="tableContent" fxFlex="20">Message</p>
            </div>
            <div class="tableBodyWrapper">
              <div class="tableContainer body">
                <ng-container *ngFor="let application of activeApplicationData?.status.events">
                  <div  fxLayout="row" fxLayoutAlign="space-between" class="tableRow">
                    <p class="tableContent capitalize" fxFlex="15">{{application.name}}</p>
                    <p class="tableContent" fxFlex="10">{{application.type}}</p>
                    <p class="tableContent" fxFlex="20">{{application.timestamp | date: 'EEE, dd MMM yyyy hh:mm a'}}</p>
                    <p class="tableContent" fxFlex="15">{{application.origin }}</p>
                    <p class="tableContent" fxFlex="15">{{application.uuid}}</p>
                    <p class="tableContent" fxFlex="20">{{application.message}}</p>
                  </div>
                </ng-container>
              </div>
            </div>
          </section>
        </mat-card-content>
      </mat-card>
    </div>
  </section>
</section>
