<div class="margin20">
  <section fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="20px" fxLayout.lt-md="column">
    <div fxFlex="33" fxFlex.lt-md="100" class="card">
      <div class="card-header" style="background: linear-gradient(60deg,#ec407a,#d81b60);">
        <app-multi-line-chart [chartDetails]="systemStatsData.cpu" isSystemStats=true></app-multi-line-chart>
      </div>
      <p class="text16 padding10 kokiHeader">CPU</p>
    </div>

    <div fxFlex="33" fxFlex.lt-md="100" class="card">
      <div class="card-header" style="background: linear-gradient(60deg,#66bb6a,#43a047);">
        <app-multi-line-chart [chartDetails]="systemStatsData.memory" isSystemStats=true></app-multi-line-chart>
      </div>
      <p class="text16 padding10 kokiHeader">Memory(MB)</p>
    </div>

    <div fxFlex="33" fxFlex.lt-md="100" class="card">
      <div class="card-header" style="background: linear-gradient(60deg,#26c6da,#00acc1);">
        <app-multi-line-chart [chartDetails]="systemStatsData.storage" isSystemStats=true></app-multi-line-chart>
      </div>
      <p class="text16 padding10 kokiHeader">Storage(MB)</p>
    </div>
  </section>

  <section fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="10px" fxLayout.lt-md="column">
    <div fxFlex="25" fxFlex.md="50" fxFlex.sm="100" class="card">
      <div fxLayout="row" fxLayoutAlign="space-between center">
        <div class="card-header icon-header" style="background: linear-gradient(60deg,#ffa726,#fb8c00);height: 86px;width: 86px;">
          <i class="material-icons">favorite</i>
        </div>
        <p class="card-stats">{{healthDashboardData?.spec?.overallHealthPercentage + '%'}}</p>
      </div>
      <p class="text16 padding10 kokiHeader">Overall Health</p>
    </div>
    <div fxFlex="25" fxFlex.md="50" fxFlex.sm="100" class="card">
      <div fxLayout="row" fxLayoutAlign="space-between center">

        <div class="card-header  icon-header" style="background: linear-gradient(60deg,#ec407a,#d81b60);height: 86px;width: 86px;">
          <i class="material-icons">timeline</i>
        </div>
        <p class="card-stats">{{healthDashboardData?.spec?.overallHealthPercentage + '%'}}</p>
      </div>
      <p class="text16 padding10 kokiHeader">Change Failures</p>
    </div>

    <div fxFlex="25" fxFlex.md="50" fxFlex.sm="100" class="card">
      <div fxLayout="row" fxLayoutAlign="space-between center">

        <div class="card-header icon-header" style="background: linear-gradient(60deg,#66bb6a,#43a047);height: 86px;width: 86px;">
          <i class="material-icons">restore</i>
        </div>
        <p class="card-stats">{{stats.mttr | number : '1.2-2'}}sec</p>
      </div>
      <p class="text16 padding10 kokiHeader">MTTR</p>
    </div>

    <div fxFlex="25" fxFlex.md="50" fxFlex.sm="100" class="card">
      <div fxLayout="row" fxLayoutAlign="space-between center">
        <div class="card-header icon-header" style="background: linear-gradient(60deg,#26c6da,#00acc1);height: 86px;width: 86px;">
          <i class="material-icons">track_changes</i>
        </div>
        <p class="card-stats">{{stats.mttd | number : '1.2-2'}}sec</p>
      </div>
      <p class="text16 padding10 kokiHeader">MTTD</p>
    </div>


  </section>

</div>


<section class="bgWhite">
  <section fxLayout="column" fxLayoutGap="16px" fxFlexFill>
    <div fxFlex="40" class="bgWhite">
      <mat-tab-group dynamicHeight>
        <mat-tab>
          <ng-template mat-tab-label>
            <i class="material-icons">event_note</i>Events
          </ng-template>
          <section class="tableWrapper">
            <div class="tableContainer header" fxLayout="row" fxLayoutAlign="space-between center">
              <p class="tableContent" fxFlex="15">Name</p>
              <p class="tableContent" fxFlex="10">Type</p>
              <p class="tableContent" fxFlex="20">TimeStamp</p>
              <p class="tableContent" fxFlex="15">Origin</p>
              <p class="tableContent" fxFlex="15">UUID</p>
              <p class="tableContent" fxFlex="20">Message</p>
            </div>
            <div class="tableBodyWrapper">
              <div class="tableContainer body">
                <ng-container *ngFor="let application of activeApplicationData?.status.events">
                  <div fxLayout="row" fxLayoutAlign="space-between" class="tableRow">
                    <p class="tableContent capitalize" fxFlex="15">{{application.name}}</p>
                    <p class="tableContent" fxFlex="10">{{application.type}}</p>
                    <p class="tableContent" fxFlex="20">{{application.timestamp | date: 'EEE, dd MMM yyyy hh:mm a'}}</p>
                    <p class="tableContent" fxFlex="15">{{application.origin }}</p>
                    <p class="tableContent" fxFlex="15">{{application.uuid}}</p>
                    <p class="tableContent" fxFlex="20">{{application.message}}</p>
                  </div>
                </ng-container>
              </div>
            </div>
          </section>
        </mat-tab>

        <mat-tab>
          <ng-template mat-tab-label>
            <i class="material-icons">info</i>Information
          </ng-template>

          <div class="applicationInformation padding10">
            <form class="info">
              <p><span class="boldFont">Name:</span> <span>{{activeApplicationData?.metadata.name}}</span></p>
              <p><span class="boldFont">Auto Recovery:</span> <span> <mat-checkbox [checked]="activeApplicationData?.spec.autoRecovery"
                    color="primary"></mat-checkbox></span></p>
              <p><span class="boldFont">DNS Name: </span> <span>{{activeApplicationData?.status.dnsName}}</span></p>
              <p><span class="boldFont">Load Balancer:</span> <span> {{activeApplicationData?.status.loadBalance}}</span></p>
              <p><span class="boldFont">Version: </span> <span>{{activeApplicationData?.spec.version}}</span></p>
              <p><span class="boldFont">Name Space: </span> <span>{{activeApplicationData?.metadata.namespace}}</span></p>
            </form>
          </div>
        </mat-tab>

        <mat-tab>
          <ng-template mat-tab-label>
            <i class="material-icons">group</i><span class="text14">Team</span>
          </ng-template>
          <div class="padding10">
          <div class="applicationInformation">
            <p class=" font14"><span class="boldFont">Team:</span><span> {{activeApplicationData?.spec.team.teamName}}</span></p>
            <p class=" font14"><span class="boldFont">Role:</span><span> {{activeApplicationData?.spec.team.role}}</span></p>
          </div>
          <div fxLayout="row" fxLayoutGap="20px">
            <p class="marginZero font14"> Read:
              <mat-checkbox [checked]="activeApplicationData?.spec.team.readPermission" color="primary"></mat-checkbox>
            </p>
            <p class="marginZero font14">Write:
              <mat-checkbox [checked]="activeApplicationData?.spec.team.writePermission" color="primary"></mat-checkbox>
            </p>
            <p class="marginZero font14">Change Permission:
              <mat-checkbox [checked]="activeApplicationData?.spec.team.changePermission" color="primary"></mat-checkbox>
            </p>
          </div>
        </div>
        </mat-tab>
      </mat-tab-group>
    </div>
  </section>
</section>
