

.ribbon {
  width: 0;
  height: 100px;
  border: 50px solid #1abc9c;
  border-top: 0 solid;
  border-bottom: 35px solid rgba(0,0,0,0);
  font: normal 100%/normal Arial, Helvetica, sans-serif;
  color: rgba(0,0,0,1);
  -o-text-overflow: clip;
  text-overflow: clip;
}
.card-image {
  background: center center/95px no-repeat linear-gradient(to bottom,  #2e30af 0%,#8547ea 100%);
  height: 170px;
  width: auto;
}

.animated-card-header{
  cursor: pointer;

  &:hover {
    top: -35px;
    -webkit-transform: translate3d(0,0,0);
    transform: translate3d(0,0,0);
    transition: all .3s ease;
  }
}

/deep/ .mat-form-field-infix {
  overflow: hidden;
}
